@use "variables" as *;
.wrapper {
    max-width: 1380px;
    width: 90%;
    margin: 0 auto;
}

.nav-button {
    font-family: $head-font;
    font-size: 20px;
    color: black;
    background-color: $accent;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-decoration: none;

}


