@use "variables" as *;
.blog-post {
    .about-willow,
    .recent-posts,
    .blog-post,
    .tuesday-post,
    .wednesday-post {
        background-color: white;
        padding: 2em;
    }

    .left-side,
    .right-side,
    .top-items {
        display: flex;
    }

    .left-side,
    .right-side {
        flex-direction: column;
    }

    .left-side {
        width: 400px;
    }

    .right-side {
        width: 60%;
    }

    .top-items {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-willow,
    .blog-post,
    .tuesday-post,
    .wednesday-post {
        margin-bottom: 1.5em;
    }

    .tuesday-post,
    .wednesday-post {
        display: flex;
        flex-direction: row;
    }

    .tuesday-post img,
    .wednesday-post img {
        width: 100px;
        height: 100px;
    }

    .about-willow a {
        text-decoration: none;
        color: $green-grey;
        font-weight: bold;
    }

    header {
        display: flex;
        height: 400px;
        background-image: url(../assets/contact-image-1.jpg);
        align-items: flex-end;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 2em auto 0 auto;
    }

    h2 {
        display: inline-block;
        align-self: flex-end;
        text-transform: uppercase;
        color: white;
        font-size: 72px;
        margin: 0 0 0.15em 10%;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    h1,
    h3 {
        text-transform: uppercase;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        font-family: $body-font;
        padding: 1em;
        margin-bottom: 0.5em;
    }

    input,
    textarea,
    button {
        border: none;
    }

    input {
        width: 49%;
    }

    textarea {
        resize: none;
    }

    button {
        font-family: $head-font;
        background-color: $accent;
        text-transform: uppercase;
        padding: 0.5em;
    }
}