@use "variables" as *;

.nav-bar {
    background-color: $pine;
    
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 250px 0 250px;
    }

    li {
        list-style-type: none;
    }

    a {
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        &:hover {
            color: $accent;
        }        
    }
}