@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;700&display=swap');
//site colours//
$accent: #e4a436;
$green-grey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$white-shade: #f6f6f6;
//fonts//
$body-font: 'Montserrat';
$head-font: 'Abril Fatface';